<div class="row ">
  <div class="col-sm-3 content-cls ">
    <app-cardcomponent></app-cardcomponent>
    <app-cardcomponent></app-cardcomponent>
  </div>
  <div class="col-sm-3 content-cls">
      <app-cardcomponent></app-cardcomponent>
      <app-cardcomponent></app-cardcomponent>
  </div>
  <div class="col-sm-3 content-cls">
      <app-cardcomponent></app-cardcomponent>
      <app-cardcomponent></app-cardcomponent>
  </div>
  <div class="col-sm-3 content-cls">
      <app-cardcomponent></app-cardcomponent>
      <app-cardcomponent></app-cardcomponent>
  </div>

</div>