.cardcomp{
min-height: 200px;
background-color: white;
/* border: 1px solid whitesmoke; */
margin-bottom: 10px;
margin-top: 10px;
font-size: 12px;
border-left: 2px solid orange;
margin-top: 50px;

}

.rounded-img{
    height: 60px;
}
.img-container{
    height:50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
}
.card-row{
    padding-left: 10px;
    position: relative;
}
.user-name{
    position: absolute;
    top: 5px;
    left: 75px;
}
.textclass{
float: right;
color: aqua;
padding-right: 5px;


}

.lastcard-row2{
    height: 50px;
    vertical-align: center;
    color:gray;
    padding: 10px;
    word-spacing: 10px;
    display: inline-block;
    
    
}
.date-class{
    float:right;
}

.clrss{
    border-left: 2px solid yellow;    
}
.statuscls{
  text-align: left;
color: gray;
font-size: 10px;
    font-weight: bold;
    margin-left: 6px;
}
    .dotslogo{
        float: right;
        font-size: 15px;
        color: gray;
    }

.adding-task{
    height:40px;
   background-color: white;
   margin:5px;
   text-align: left;
   font-size: 11px;
   color:gray;
   border:1px solid whitesmoke;
   font-weight: bold;
}

.dot {
    height: 10px;
    width: 10px;
    padding:2px;
    background-color:aqua;
    border-radius: 50%;
    display: inline-block;
    float: right;
}
.dot1{
    height: 10px;
    width: 10px;
    padding:2px;
    background-color:orange;
    border-radius: 50%;
    display: inline-block;
    float: right;
}


