<div class="sidebar-width">

  <div class="menu-item">
    <i class="fa fa-home"></i>
    <div>Feed</div>
  </div>
  <div class="menu-item">
      <i class="fa fa-tasks"></i>
    <div>Tasks</div>
  </div>
  <div class="menu-item">
      <i class="fa fa-envelope"></i>
    <div>Emails</div>
  </div>
  <div class="menu-item">
      <i class="fa fa-wrench"></i>
      <div>Build</div>  
  </div>
  <div class="menu-item clr">
      <i class="fa fa-briefcase"></i>
      <div>Work</div>
  </div>


</div>